:root {
  --primary: #2DFFA3;
  --black: #0f0f0f;
}
body {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #0f0f0f;
  user-select: none; /* Standard */
}

*:focus-visible {
  box-shadow: 0 0 3px 1px rgb(151, 151, 151);
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  left: 0
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

.d-flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}